body{
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(45deg,black,#161649);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  height: 10rem;
  width: 23rem;
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-family: serif;
  border-radius: 22px;
  border: 2px solid #ff0054;
  background: linear-gradient(46deg, black, #14145d);

  animation-name: glowEffect;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

}


@keyframes glowEffect{
  0%{
    box-shadow: 3px 3px 120px 50px #00ff49;
  }
  25%{
    box-shadow: 3px 3px 120px 50px #ff0049;
  }
  50%{
    box-shadow: 3px 3px 120px 50px #ff7400;
  }
  100%{
    box-shadow: 3px 3px 120px 50px #ffb000;
  }
}

h3{
  color: #ffd500;
}

/* If my screen width is in between 0px to 280px then fire this css*/
@media (min-width:0px) and (max-width:280px){
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
    width: 16rem;
    font-size: 2.4rem;
    font-family: serif;
    border-radius: 20px;
  }
}

/* If my screen width in between 281px to 375px fire this css  */
@media (min-width:281px) and (max-width:375px){
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8.5rem;
    width: 17.1rem;
    font-size: 2.5rem;
    font-family: serif;
    border-radius: 21px;
  }
}
