body{
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(45deg,black,#161649);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  height: 21vh;
  width: 25vw;
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-family: serif;
  border-radius: 22px;
  border: 2px solid #ff0054;
  background: linear-gradient(46deg, black, #14145d);

  animation-name: glowEffect;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes glowEffect{
  0%{
    box-shadow: 3px 3px 120px 50px #00ff49;
  }
  25%{
    box-shadow: 3px 3px 120px 50px #ff0049;
  }
  50%{
    box-shadow: 3px 3px 120px 50px #ff7400;
  }
  100%{
    box-shadow: 3px 3px 120px 50px #ffb000;
  }
}

h3{
  color: #ffd500;
}